h1 {
  font: normal normal normal 120px/0 'Oswald', sans-serif;
  text-align: center;
}
.wrapper {
    width: 100%;
}
input {
    display: block !important;
    margin: 0 auto !important;
    border-radius: 25px;
    border-color: rgba(0,0,0,0);
    width: 30%;
    padding: 20px 20px;
    font: normal normal normal 20px/0 Arial, sans-serif;
}
input:focus {
    outline: none !important;
}