.togglecolorscheme {
    float: right;
}
.wrapper input {
    height: 50px;
    width: 150px;
    font: 32px Arial, sans-serif;
    text-align: center;
    border: 2px solid red;
    border-radius: 25px;
    border-color: rgba(255, 0, 0, 1);
}
.wrapper input:focus {
    outline: none;
}
.wrapper table {
    font: normal normal normal 60px/0 'Nunito', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.wrapper table td {
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 45px;
}
.wrapper table td p {
    color: red;
}
.wrapper a {
    display: block;
    width: 150px;
    height: 75px;
    text-decoration: none;
    color: black;
    margin-left: 45%;
    font: normal bold normal 18px/75px Arial, sans-serif;
    border: 2px solid red;
    border-radius: 25px;
    text-align: center;
    background: rgba(255, 0, 0, 0.5);
}
/* All modal stuff basically taken and tweaked from http://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    font: normal normal normal 24px/150% Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}